<h2 class="form-heading">画像認識の結果</h2>

<div class="form-container">
  <div class="form-card">
    <p>認識された商品名：</p>
    <h3><%= @predicted_name %></h3>
    <p>類似度スコア：<%= (@score * 100).round(2) %>%</p>

    <%= form_with url: new_order_path, method: :get, local: true do %>
      <%= hidden_field_tag :recognized_name, @predicted_name %>
      <%= submit_tag "この商品でレジへ進む", class: "form-button blue" %>
    <% end %>
  </div>
</div>
