<h1 class="form-heading">商品詳細</h1>

<div class="form-container">
  <div class="form-card">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, class: "preview-image" %>
    <% else %>
      <p>画像なし</p>
    <% end %>

    <h2 class="form-field"><%= @product.name %></h2>
    <p class="form-field">¥<%= number_with_delimiter(@product.price) %></p>

    <div class="form-actions">
      <%= link_to "編集", edit_product_path(@product), class: "form-button yellow" %>
      <%= link_to "削除", product_path(@product), data: {turbo_method: :delete}, class: "product-destroy form-button red" %>
      <%= link_to "一覧に戻る", products_path, class: "form-button gray"  %>
    </div>
  </div>
</div>



