<!DOCTYPE html>
<html>
  <head>
    <title>かんたんレジアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS を読み込む -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'style', media: 'all' %> 
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
