<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>сЂІсѓЊсЂЪсѓЊсЃгсѓИсѓбсЃЌсЃф</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- ­Ъћй У┐йтіасЂЊсЂЊсЂІсѓЅ -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- ­Ъћ╝ У┐йтіасЂЊсЂЊсЂЙсЂД -->



    <!-- РюЁ CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

    <!-- JavaScript -->
    <%= javascript_include_tag "application",           defer: true, "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "camera",                defer: true %> 
    <%= javascript_include_tag "product_form_preview",  defer: true %>
    <%# <%= javascript_include_tag "sales_analytics",       defer: true %> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
