<!DOCTYPE html>
<html>
  <head>
    <title>かんたんレジアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ✅ CSS 読み込み -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbo-track': 'reload' %>


    <!-- ✅ JavaScript（Importmap用 + 画像プレビュー用） -->
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "preview", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
